<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.productDescription %>"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Google App Client ID -->
    <meta
      name="google-signin-client_id"
      content="273389259899-cjflhfg1s347huh7ulv3oug8b9bc0nuk.apps.googleusercontent.com"
    />

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="statics/icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="statics/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="statics/icons/favicon-96x96.png"
    />
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico" />

    <!-- Google Platform Library (Google Sign-In) -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div id="q-app"></div>
  </body>
</html>
